<div class="container">
    <div class="row">
        <div class="col-md-12" id="titleDiv">
            <h1 id="title"> N.Y.Times Scraper</h1>
        </div>
    </div>
    <div class="row" class="linkRow">
        <div class="col-md-4">
            <a href="/saved" class="upper-link">Saved Articles</a>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" id="scrapeBtn">Scrape</button>
        </div>
        <div class="col-md-4">
            <a href="https://www.nytimes.com" class="upper-link">NYTimes.com</a>
        </div>
    </div>

    <hr class="white-underline">
    <div class="row">
        {{#each result}}
        {{#unless saved}}
        <div class="col-md-6">
            <div class="article">
                <h2 class="headline">{{headline}}</h2>
                <u>
                    <li class="summary">{{summaryOne}}</li>
                    <li class="summary">{{summaryTwo}}</li>
                </u>
                <hr>
                <div class="row" id="bottom-row">
                    <div class="col-md-6">
                        <a href={{link}} class="link">Read the Entire Story</a>
                    </div>
                    <div class="col-md-6">
                        <form action="/update" method="PUT" id="save-article">
                        <input type="hidden" name="id" value={{_id}}>
                        <button class="btn btn-lg" id="saveBtn" type="submit">Save Article</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/unless}}
        {{/each}}
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#scrapeBtn").on("click", function (event) {
            event.preventDefault();
            $.get("/newscrape", function (data) {
                location.reload();
            });
        });

        $("#save-article").on("click", function (event) {
            event.preventDefault();
            console.log("save the article");
            let id = $(this).children().val();
            console.log(id);
            let data = {
                _id: id
            }
            $.ajax("/update/" + id, {
                type: "PUT",
                data: data
            })
            location.reload();
        });
    });
</script>